<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.osmantahir_comp304sec004_lab2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OsmanTahir_COMP304Sec004_Lab2">
        <activity
            android:name=".Confirmation"
            android:exported="true" />
        <activity
            android:name=".CustomerInfor"
            android:exported="true" />
        <activity
            android:name=".PaymentOption"
            android:exported="true" />
        <activity
            android:name=".DisplaySmokeyBaconPizza"
            android:exported="true" />
        <activity
            android:name=".DisplayVeggieLoverPizza"
            android:exported="true" />
        <activity
            android:name=".VeggieLoverToppings"
            android:exported="true" />
        <activity
            android:name=".SmokeyBaconToppings"
            android:exported="true" />
        <activity
            android:name=".DisplayHawaiianPizza"
            android:exported="true" />
        <activity
            android:name=".HawaiianPizzaToppings"
            android:exported="true" />
        <activity
            android:name=".DisplayChickenPizzaToppings"
            android:exported="true" />
        <activity
            android:name=".ChickenCaesarToppings"
            android:exported="true" />
        <activity
            android:name=".CheckoutPage"
            android:exported="true" />
        <activity
            android:name=".SpinnersActivity"
            android:exported="true" />
        <activity
            android:name=".DisplayCanadianPizza"
            android:exported="true" />
        <activity
            android:name=".CanadianPizzaToppings"
            android:exported="true" />
        <activity
            android:name=".SecondActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>